# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.ReadingListBackend.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\alexs\Documents\GitHub\ReadingListBackend\.idea\.idea.ReadingListBackend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
